priority -50

snippet esl-disbale "ESLint disable rules" b
/* eslint-disable $1 */
endsnippet

snippet esl-enable "ESLint enable comment" b
/* eslint-enable */
$0
endsnippet

snippet esl-rule-line "ESLint disable rules in line" w
// eslint-disable-line $1
endsnippet

snippet esl-rule-nexit-line "ESLint disable rules in next line" b
// eslint-disable-next-line $1
endsnippet
